USE [master]
GO
/****** Object:  Database [SWP409X_VN]    Script Date: 8/24/2022 3:47:46 PM ******/
CREATE DATABASE [SWP409X_VN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP409X_VN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SWP409X_VN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP409X_VN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SWP409X_VN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP409X_VN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP409X_VN]
GO
/****** Object:  Table [dbo].[GIAITHUONG]    Script Date: 8/24/2022 3:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAITHUONG](
	[MAGIAITHUONG] [int] IDENTITY(1,1) NOT NULL,
	[TENGIAITHUONG] [nvarchar](40) NOT NULL,
	[TENLOAI] [nvarchar](40) NOT NULL,
	[GIAVE] [float] NOT NULL,
	[SOTIEN] [float] NOT NULL,
	[SOCHUSO] [int] NOT NULL,
	[SOLANQUAY] [int] NOT NULL,
	[NGAYTAOGIAI] [date] NOT NULL,
 CONSTRAINT [PK_GIAITHUONG] PRIMARY KEY CLUSTERED 
(
	[MAGIAITHUONG] ASC,
	[TENGIAITHUONG] ASC,
	[TENLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 8/24/2022 3:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[MAKETQUA] [int] IDENTITY(1,1) NOT NULL,
	[MAGIAITHUONG] [int] NOT NULL,
	[TENGIAITHUONG] [nvarchar](40) NOT NULL,
	[TENLOAI] [nvarchar](40) NOT NULL,
	[LANQUAY] [int] NOT NULL,
	[MALICHMOTHUONG] [int] NOT NULL,
	[KETQUA] [varchar](20) NOT NULL,
	[NGAYMO] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKETQUA] ASC,
	[LANQUAY] ASC,
	[MALICHMOTHUONG] ASC,
	[NGAYMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHMOTHUONG]    Script Date: 8/24/2022 3:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHMOTHUONG](
	[MALICHMOTHUONG] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NOT NULL,
	[GIO] [time](0) NOT NULL,
	[TENLOAI] [nvarchar](40) NOT NULL,
	[TINHTHANH] [nvarchar](40) NOT NULL,
	[GIAVE] [float] NOT NULL,
	[NGAYBDPHATHANH] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALICHMOTHUONG] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUDO]    Script Date: 8/24/2022 3:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUDO](
	[MADO] [int] IDENTITY(1,1) NOT NULL,
	[MANHOM] [varchar](10) NOT NULL,
	[TENNHOM] [varchar](40) NOT NULL,
	[HOTEN] [nvarchar](40) NOT NULL,
	[ID] [int] NOT NULL,
	[NGAYDO] [date] NOT NULL,
	[GIODO] [time](0) NOT NULL,
	[SODO] [varchar](40) NULL,
	[KETQUA] [nvarchar](40) NULL,
	[TIENTHUONG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIXOSO]    Script Date: 8/24/2022 3:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIXOSO](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](40) NOT NULL,
	[TINHTHANH] [nvarchar](40) NOT NULL,
	[GIAVE] [float] NOT NULL,
	[SOCHUSO] [int] NOT NULL,
	[TONGSOLANQUAY] [int] NOT NULL,
	[NGAYBDPHATHANH] [date] NOT NULL,
	[NGAYKTPHATHANH] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENLOAI] ASC,
	[TINHTHANH] ASC,
	[GIAVE] ASC,
	[NGAYBDPHATHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 8/24/2022 3:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MANHOM] [varchar](10) NOT NULL,
	[TENNHOM] [varchar](40) NOT NULL,
	[HOTEN] [nvarchar](40) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENTK] [varchar](20) NOT NULL,
	[MK] [varchar](40) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[EMAIL] [varchar](40) NOT NULL,
	[DT] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 8/24/2022 3:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MANHOM] [varchar](10) NOT NULL,
	[TENNHOM] [varchar](40) NOT NULL,
	[DIENGIAI] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC,
	[TENNHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 8/24/2022 3:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[MANHOM] [varchar](10) NOT NULL,
	[TENNHOM] [varchar](40) NOT NULL,
	[HOTEN] [nvarchar](40) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENTK] [varchar](20) NOT NULL,
	[MK] [varchar](40) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[EMAIL] [varchar](40) NOT NULL,
	[DT] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GIAITHUONG] ON 

INSERT [dbo].[GIAITHUONG] ([MAGIAITHUONG], [TENGIAITHUONG], [TENLOAI], [GIAVE], [SOTIEN], [SOCHUSO], [SOLANQUAY], [NGAYTAOGIAI]) VALUES (1, N'GIẢI BẢY', N'KIẾN THIẾT MIỀN NAM', 10000, 200000, 2, 4, CAST(N'2015-01-01' AS Date))
INSERT [dbo].[GIAITHUONG] ([MAGIAITHUONG], [TENGIAITHUONG], [TENLOAI], [GIAVE], [SOTIEN], [SOCHUSO], [SOLANQUAY], [NGAYTAOGIAI]) VALUES (2, N'GIẢI SÁU', N'KIẾN THIẾT MIỀN NAM', 10000, 400000, 3, 3, CAST(N'2015-01-01' AS Date))
INSERT [dbo].[GIAITHUONG] ([MAGIAITHUONG], [TENGIAITHUONG], [TENLOAI], [GIAVE], [SOTIEN], [SOCHUSO], [SOLANQUAY], [NGAYTAOGIAI]) VALUES (3, N'GIẢI NĂM', N'KIẾN THIẾT MIỀN NAM', 10000, 1000000, 4, 6, CAST(N'2015-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[GIAITHUONG] OFF
GO
SET IDENTITY_INSERT [dbo].[KETQUA] ON 

INSERT [dbo].[KETQUA] ([MAKETQUA], [MAGIAITHUONG], [TENGIAITHUONG], [TENLOAI], [LANQUAY], [MALICHMOTHUONG], [KETQUA], [NGAYMO]) VALUES (1, 1, N'GIẢI BẢY', N'KIẾN THIẾT MIỀN NAM', 1, 1, N'24', CAST(N'2022-05-03' AS Date))
INSERT [dbo].[KETQUA] ([MAKETQUA], [MAGIAITHUONG], [TENGIAITHUONG], [TENLOAI], [LANQUAY], [MALICHMOTHUONG], [KETQUA], [NGAYMO]) VALUES (2, 1, N'GIẢI BẢY', N'KIẾN THIẾT MIỀN NAM', 2, 1, N'29', CAST(N'2022-05-03' AS Date))
INSERT [dbo].[KETQUA] ([MAKETQUA], [MAGIAITHUONG], [TENGIAITHUONG], [TENLOAI], [LANQUAY], [MALICHMOTHUONG], [KETQUA], [NGAYMO]) VALUES (3, 1, N'GIẢI BẢY', N'KIẾN THIẾT MIỀN NAM', 3, 1, N'36', CAST(N'2022-05-03' AS Date))
GO
SET IDENTITY_INSERT [dbo].[KETQUA] OFF
GO
SET IDENTITY_INSERT [dbo].[LICHMOTHUONG] ON 

INSERT [dbo].[LICHMOTHUONG] ([MALICHMOTHUONG], [NGAY], [GIO], [TENLOAI], [TINHTHANH], [GIAVE], [NGAYBDPHATHANH]) VALUES (1, CAST(N'2022-05-03' AS Date), CAST(N'16:15:00' AS Time), N'KIẾN THIẾT MIỀN NAM', N'ĐỒNG THÁP', 10000, CAST(N'2022-05-01' AS Date))
INSERT [dbo].[LICHMOTHUONG] ([MALICHMOTHUONG], [NGAY], [GIO], [TENLOAI], [TINHTHANH], [GIAVE], [NGAYBDPHATHANH]) VALUES (2, CAST(N'2022-05-03' AS Date), CAST(N'16:15:00' AS Time), N'KIẾN THIẾT MIỀN NAM', N'VŨNG TÀU', 10000, CAST(N'2022-05-01' AS Date))
INSERT [dbo].[LICHMOTHUONG] ([MALICHMOTHUONG], [NGAY], [GIO], [TENLOAI], [TINHTHANH], [GIAVE], [NGAYBDPHATHANH]) VALUES (3, CAST(N'2022-05-03' AS Date), CAST(N'16:15:00' AS Time), N'KIẾN THIẾT MIỀN NAM', N'HỒ CHÍ MINH', 10000, CAST(N'2022-05-01' AS Date))
SET IDENTITY_INSERT [dbo].[LICHMOTHUONG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIXOSO] ON 

INSERT [dbo].[LOAIXOSO] ([MALOAI], [TENLOAI], [TINHTHANH], [GIAVE], [SOCHUSO], [TONGSOLANQUAY], [NGAYBDPHATHANH], [NGAYKTPHATHANH]) VALUES (13, N'KIẾN THIẾT MIỀN BẮC', N'HÀ NỘI', 10000, 6, 28, CAST(N'2022-05-01' AS Date), CAST(N'2022-05-03' AS Date))
INSERT [dbo].[LOAIXOSO] ([MALOAI], [TENLOAI], [TINHTHANH], [GIAVE], [SOCHUSO], [TONGSOLANQUAY], [NGAYBDPHATHANH], [NGAYKTPHATHANH]) VALUES (14, N'KIẾN THIẾT MIỀN BẮC', N'HÀ NỘI', 10000, 6, 28, CAST(N'2022-05-08' AS Date), CAST(N'2022-05-10' AS Date))
INSERT [dbo].[LOAIXOSO] ([MALOAI], [TENLOAI], [TINHTHANH], [GIAVE], [SOCHUSO], [TONGSOLANQUAY], [NGAYBDPHATHANH], [NGAYKTPHATHANH]) VALUES (15, N'KIẾN THIẾT MIỀN BẮC', N'HÀ NỘI', 10000, 6, 28, CAST(N'2022-05-15' AS Date), CAST(N'2022-05-17' AS Date))
SET IDENTITY_INSERT [dbo].[LOAIXOSO] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([MANHOM], [TENNHOM], [HOTEN], [ID], [TENTK], [MK], [DIACHI], [EMAIL], [DT]) VALUES (N'ND', N'NGUOIDUNG', N'HỒ VĂN A', 1, N'HOVANA', N'202cb962ac59075b964b07152d234b70', N'HCM', N'HOVANA@GMAIL.COM', N'0123456789')
INSERT [dbo].[NGUOIDUNG] ([MANHOM], [TENNHOM], [HOTEN], [ID], [TENTK], [MK], [DIACHI], [EMAIL], [DT]) VALUES (N'ND', N'NGUOIDUNG', N'HỒ VĂN B', 2, N'HOVANB', N'202cb962ac59075b964b07152d234b70', N'HCM', N'HOVANB@GMAIL.COM', N'0123456789')
INSERT [dbo].[NGUOIDUNG] ([MANHOM], [TENNHOM], [HOTEN], [ID], [TENTK], [MK], [DIACHI], [EMAIL], [DT]) VALUES (N'ND', N'NGUOIDUNG', N'HỒ VĂN C', 3, N'HOVANC', N'202cb962ac59075b964b07152d234b70', N'HCM', N'HOVANC@GMAIL.COM', N'0123456789')
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
GO
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [DIENGIAI]) VALUES (N'ND', N'NGUOIDUNG', N'NGƯỜI DÙNG')
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [DIENGIAI]) VALUES (N'QL', N'QUANLY', N'QUẢN LÝ')
GO
SET IDENTITY_INSERT [dbo].[QUANLY] ON 

INSERT [dbo].[QUANLY] ([MANHOM], [TENNHOM], [HOTEN], [ID], [TENTK], [MK], [DIACHI], [EMAIL], [DT]) VALUES (N'QL', N'QUANLY', N'NGUYỄN VĂN A', 1, N'NGUYENVANA', N'202cb962ac59075b964b07152d234b70', N'HCM', N'NGUYENVANA@GMAIL.COM', N'0123456789')
INSERT [dbo].[QUANLY] ([MANHOM], [TENNHOM], [HOTEN], [ID], [TENTK], [MK], [DIACHI], [EMAIL], [DT]) VALUES (N'QL', N'QUANLY', N'NGUYỄN VĂN B', 2, N'NGUYENVANB', N'202cb962ac59075b964b07152d234b70', N'HCM', N'NGUYENVANB@GMAIL.COM', N'0123456789')
INSERT [dbo].[QUANLY] ([MANHOM], [TENNHOM], [HOTEN], [ID], [TENTK], [MK], [DIACHI], [EMAIL], [DT]) VALUES (N'QL', N'QUANLY', N'NGUYỄN VĂN C', 3, N'NGUYENVANC', N'202cb962ac59075b964b07152d234b70', N'HCM', N'NGUYENVANC@GMAIL.COM', N'0123456789')
SET IDENTITY_INSERT [dbo].[QUANLY] OFF
GO
/****** Object:  Index [ID_UNIQUE]    Script Date: 8/24/2022 3:47:46 PM ******/
ALTER TABLE [dbo].[LOAIXOSO] ADD  CONSTRAINT [ID_UNIQUE] UNIQUE NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NGUOIDUN__161CF7240C8E3189]    Script Date: 8/24/2022 3:47:46 PM ******/
ALTER TABLE [dbo].[NGUOIDUNG] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__QUANLY__161CF7245420D38D]    Script Date: 8/24/2022 3:47:46 PM ******/
ALTER TABLE [dbo].[QUANLY] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA] FOREIGN KEY([MAGIAITHUONG], [TENGIAITHUONG], [TENLOAI])
REFERENCES [dbo].[GIAITHUONG] ([MAGIAITHUONG], [TENGIAITHUONG], [TENLOAI])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_MALICHMOTHUONG] FOREIGN KEY([MALICHMOTHUONG], [NGAYMO])
REFERENCES [dbo].[LICHMOTHUONG] ([MALICHMOTHUONG], [NGAY])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_MALICHMOTHUONG]
GO
ALTER TABLE [dbo].[LICHMOTHUONG]  WITH CHECK ADD  CONSTRAINT [FK_LICHMOTHUONG] FOREIGN KEY([TENLOAI], [TINHTHANH], [GIAVE], [NGAYBDPHATHANH])
REFERENCES [dbo].[LOAIXOSO] ([TENLOAI], [TINHTHANH], [GIAVE], [NGAYBDPHATHANH])
GO
ALTER TABLE [dbo].[LICHMOTHUONG] CHECK CONSTRAINT [FK_LICHMOTHUONG]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_MANHOMNDK] FOREIGN KEY([MANHOM], [TENNHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_MANHOMNDK]
GO
ALTER TABLE [dbo].[QUANLY]  WITH CHECK ADD  CONSTRAINT [FK_MANHOM] FOREIGN KEY([MANHOM], [TENNHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM])
GO
ALTER TABLE [dbo].[QUANLY] CHECK CONSTRAINT [FK_MANHOM]
GO
USE [master]
GO
