<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SWP490X_VNN</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginServelet</display-name>
		<servlet-name>LoginServelet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServelet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServelet</display-name>
		<servlet-name>LogoutServelet</servlet-name>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServelet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>InforUserServlet</display-name>
		<servlet-name>InforUserServlet</servlet-name>
		<servlet-class>controller.InforUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InforUserServlet</servlet-name>
		<url-pattern>/inforUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListUserServelet</display-name>
		<servlet-name>ListUserServelet</servlet-name>
		<servlet-class>controller.ListUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListUserServelet</servlet-name>
		<url-pattern>/listUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListLotteryServlet</display-name>
		<servlet-name>ListLotteryServlet</servlet-name>
		<servlet-class>controller.ListLotteryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListLotteryServlet</servlet-name>
		<url-pattern>/listLottery</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditServlet</display-name>
		<servlet-name>EditServlet</servlet-name>
		<servlet-class>controller.EditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/editServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListIndexcontroller</display-name>
		<servlet-name>ListIndexcontroller</servlet-name>
		<servlet-class>controller.ListIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListIndexcontroller</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>controller.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddServlet</display-name>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>controller.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchHomePageServlet</display-name>
		<servlet-name>SearchHomePageServlet</servlet-name>
		<servlet-class>controller.SearchHomePageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchHomePageServlet</servlet-name>
		<url-pattern>/searchHomePage</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchAdminServlet</display-name>
		<servlet-name>SearchAdminServlet</servlet-name>
		<servlet-class>controller.SearchAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchAdminServlet</servlet-name>
		<url-pattern>/searchAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HistoryController</display-name>
		<servlet-name>HistoryController</servlet-name>
		<servlet-class>controller.HistoryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HistoryController</servlet-name>
		<url-pattern>/history</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChangePasswordController</display-name>
		<servlet-name>ChangePasswordController</servlet-name>
		<servlet-class>controller.ChangePasswordController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordController</servlet-name>
		<url-pattern>/change</url-pattern>
	</servlet-mapping>
	<session-config>
    	<session-timeout>100</session-timeout>
  </session-config>
</web-app>